@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral-0 text-neutral-900 font-sans;
  font-family: system-ui, -apple-system, sans-serif;
}

a {
  @apply text-primary-700 hover:text-primary-800 transition-colors;
}
